{% extends 'base.html'%}
{% load staticfiles %}
{% load bootstrap4 %}
{% block styles %}
  {{block.super}}
  <link rel="stylesheet" href="{% static 'css/home.css'%}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row mt-4">
   
        <div class="search-forms">
              <form class="form inline" role="search" action="{% url 'search_results' %}">
          <input type="text" class="fas fa-search form-control mb-2 " placeholder="Search for..." name="question_title">
          
         
              <button class="btn btn-outline-success ml-5 my-2 my-sm-0" type="search">Search</button>
         
          <!-- <input id="filter" type="text" placeholder="Search" />
<i id="filtersubmit" class="fa fa-search"></i> -->

        </form>
        </div>
      </div>
      <div class="row mt-3">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="input-group">
                        <div class="header-title">
                                <h1>Question</h1>
                            </div>
                            
                    <form class="search-form" role="question-form" action="{% url 'home'%}">
                        <div class="title-input ">
                        <input type="text" class="form-control mt-4" placeholder="Title" name="title">
                    </div>
                        <div class="question-input mt-4">
                      <textarea type="textfield" class="form-control mt-4" placeholder="Ask your questions here!" name="your_question"> </textarea>
                    </div>
                      <div class="input-group-btn">
                        <button class="btn  btn-outline-success" type="submit">Go!</button>
                      </div>
                    </form>
                    </div>

          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            
              {% for ans in answer %}     
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">{{ans.user.username}} </h3>
                      </div>
                      <div class="panel-body">
                        <div class="col-md-4 pd-5 profile-img">
                            <img class="img-responsive" src="{{ans.profile.photo.url}}" alt="">
                            <p>{{ans.title}}</p>
                            <p>{{ans.profile.bio}}</p>
                            <p>{{ans.question.your_question}}</p>
                            <p>{{ans.question.id}}</p>
                        </div>
                       
                        <h4> <a href=" "class="waves-effect waves-light btn"><i class="material-icons left">arrow_forward</i>JOIN HOODWATCH</a></h4>

                        <h4 class="truncate">This is an extremely long title that will be truncated</h4>
                        <div class="card-panel hoverable"> Hoverable Card Panel</div>
                      </div>
                    </div>
                    {%endfor%}
            </div>
             
      </div>
   </div>
</div>
{% endblock %}

 

