<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
</head>
<body>
  <nav class="navbar navbar-inverse navbar-light bg-light navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'home_page' %}" style="font-family: 'Grand Hotel', cursive; color:blue;font-size:30px;">Instagram</a>
      </div>

      <!-- Adding a search form  -->
      <div class="col-sm-4 col-md-4 navbar-right ">

        <form class="navbar-form" role="search" action="{% url 'search_results' %}">

          <div class="input-group">
            <input type="text" class="form-control mr-sm-3" placeholder="Search Article" name="username">
            <div class="input-group-btn">
                <button class="btn btn-outline-success my-2 my-sm-0" type="search"></i>Search</button>
            </div>
          </div>

        </form>
      </div>
      <!-- search form end -->
<!--The search form above-->
<div class="col-sm-6 col-md-6">
  {% if user.is_authenticated %}
  <ul>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                <span class="caret"></span>
            </a>
      <ul class="dropdown-menu" role="menu">
        <li style="font-family: 'Oswald', sans-serif;">
          <a href="{%url ''%}">Home</a>
        </li>
        <li style="font-family: 'Oswald', sans-serif;">
            <a href="">Upload</a>
          </li>
        <li style="font-family: 'Oswald', sans-serif;">
          <a href="">profile</a>
        </li>
        <li style="font-family: 'Oswald', sans-serif;">
          <a href="">Change Password</a>
        </li>
        <li style="font-family: 'Oswald', sans-serif;">
          <a href="">Logout</a>
        </li>
      </ul>
    </li>
  </ul>
  {% else %}
  <li>
    <a class='btn btn-default' href="">Login</a>
  </li>
  
  {% endif %}
</div>

    </div>
    
  </nav>